html, body { 
height: 100%; 
margin: 0; 
padding: 0; 
}

#map{
	position: absolute;
    width: 70%;
    height: 100%;
}

#chart{
}

#side-menu{
	position: absolute;
	top: 0%;
	left: 70%;
	width: 30%;
	height: 100%;
}

#menu-cover{
	position: absolute;
	top: 3%;
	left: 3%;
}

.menu-line{
	height: 25%;
}